* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 100px;
    height: 70px;
    /*change*/
    background-color: grey;
}

/* MAIN */
main {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100vw;
}

.content {
    display: grid;
    column-gap: 100px;
    row-gap: 40px;
    grid-template-rows: 1fr auto auto auto;
    grid-template-columns: repeat(3, 1fr);

}

.budget,
.expense,
.iterniary {
    width: 300px;
    height: 250px;
    border: 1px solid black;
}

#dest-log,
#logger,
#budget-log {
    grid-column: span 3;
}

#dest-log {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

/* LIST */

#logger {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logger h2 {
    align-self: self-start;
    margin-left: 5%;
}

.sublist {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    height: 40px;
    width: 90%;

    border-bottom: 1px solid black;
    padding-top: 10px;
}


footer {
    margin-top: auto;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*change*/
    background-color: grey;
}